<div class="messenger-page">
    <div class="chats-container">
        <div class="chats-sreach-container"></div>
        <div class="chat-items-block"></div>
    </div>
    <div class="chat-block">
        <div class="no-chat-placeholder">
            <img class="no-chat-logo" src="/public/globalImages/UniteLogo.svg">
            <div class="no-chat-placeholder-text">Выберите чат что бы начать общение</div>
        </div>
    </div>
</div>