<div class="messenger-page">
    <div class="chats-container">
        <div class="chats-sreach-container"></div>
        <div class="chat-items-block"></div>
    </div>
    <div class="chat-block"></div>
</div>