<div class="modal-confirm-overflow">
    <div class="modal-confirm">
        <div class="modal-confirm-text">
            <div class="modal-confirm-header">
                <div class="modal-confirm-text-main">{{textMain}}</div>
                <img class="close-modal-confirm-icon" src="/public/ModalIcons/SmallClose.svg">
            </div>
            <div class="modal-confirm-text-small">{{textSmall}}</div>
        </div>
        <div class="modal-confirm-buttons"></div>
    </div>
</div>