.modal-confirm-overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.35);
    backdrop-filter: brightness(0.9);
    -webkit-backdrop-filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
}

.modal-confirm-overflow.visible {
    opacity: 1;
    pointer-events: auto;
}

.modal-confirm {
    width: fit-content;
    height: fit-content;
    background-color: var(--base-white);
    transform: translateY(-10px);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    align-self: flex-start;
    margin-top: 20px;
    justify-self: center;
    position: relative;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 310px;
}

.modal-confirm-overflow.visible .modal-confirm {
    transform: translateY(0);
    opacity: 1;
}

.close-modal-confirm-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-confirm-text-main{
    font-family: inherit;
    font-size: 16px;
    color: var(--text-black);
    font-weight: 500;
}

.modal-confirm-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
}

.modal-confirm-text-small{
    font-family: inherit;
    font-size: 14px;
    color: var(--dark-gray);
}

.modal-confirm-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: column;
}

.modal-confirm-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}