<div class="post-modal-overlay">
  <div class="post-modal-wrapper">
    <div class="post-modal">
      <button class="post-modal-close">
        <img src="/public/globalImages/CancelIcon.svg">
      </button>

      <div class="post-modal-content">
        <div class="post-modal-post-slot"></div>
        <div class="post-modal-comments-slot"></div>
      </div>
    </div>
  </div>
</div>
