.post-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow-y: auto;
}

.post-modal-wrapper {
  position: relative;
  padding: 0;
}

.post-modal {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.post-modal-close {
    position: fixed;
    top: 24px;
    left: calc(50% + 320px);
    border: none;
    background: none;
    cursor: pointer;
}

.post-modal-close img {
  width: 28px;
  height: 28px;
}

.post-modal-content {
    padding: 16px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 600px;
}

.post-modal-post {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
    .post-modal {
        min-width: 100%;
        padding: 0;
    }

    .post-modal-wrapper {
        height: fit-content;
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
        width: 100%;
    }

    .comment-list-root {
        padding: 12px 8px;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;
    }

    .post-modal-overlay {
        display: flex;
    }

    .post-modal-content {
        min-width: 100% !important;
        padding: 0;
    }
}
