<div class="message-input-container">
  <button type="button" class="message-attach-btn">
    <img src="/public/globalImages/AttachIcon.svg" alt="attach" />
  </button>

  <input class="message-file-input" type="file" multiple />

  <textarea class="input-message" placeholder="Сообщение..."></textarea>

  <button type="button" class="emoji-btn">
    <img src="/public/globalImages/EmojiIcon.svg" alt="emoji" />
  </button>

  <div class="emoji-picker"></div>

  <button type="button" class="message-send-btn">
    <img src="/public/globalImages/SendIcon.svg" alt="send" />
  </button>
</div>
