<div class="message-input-container">
  <textarea
    class="input-message"
    placeholder="Введите сообщение..."
    rows="1"
  ></textarea>
  <button class="emoji-btn">
    <img class="emoji-icon" src="/public/ChatIcons/EmojiIcon.svg">
  </button>
  <div class="emoji-picker">
    <div class="emoji-search-container"></div>
    <div class="emoji-picker-grid"></div>
  </div>
  <button class="message-send-btn">
    <img src="public/ChatIcons/SendIcon.svg"/>
  </button>
</div>