<div class="message-input-container">
  <textarea
    class="input-message"
    placeholder="Введите сообщение..."
    rows="1"
  ></textarea>
  <button class="message-send-btn">
    <img src="public/ChatIcons/SendIcon.svg"/>
  </button>
</div>