<div class="message-input-root">
  <div class="attachments-preview">
    <div class="attachments-preview-grid"></div>
    <div class="attachments-preview-files"></div>
  </div>

  <div class="message-input-container">
    <button type="button" class="message-attach-btn" aria-label="attach">
      <img src="/public/ChatIcons/Attach.svg" alt="attach" />
    </button>

    <input class="message-file-input" type="file" multiple />

    <textarea class="input-message" placeholder="Введите сообщение..." rows="1"></textarea>

    <button type="button" class="emoji-btn" aria-label="emoji">
      <img src="/public/ChatIcons/EmojiIcon.svg" alt="emoji" />
    </button>

    <button type="button" class="message-send-btn" aria-label="send">
      <img src="/public/ChatIcons/SendIcon.svg" alt="send" />
    </button>

    <div class="emoji-picker hidden">

      <div class="emoji-tabs">
        <button class="emoji-tab active" data-tab="emoji">Эмодзи</button>
        <button class="emoji-tab" data-tab="stickers">Стикеры</button>
      </div>

      <div class="emoji-tab-content emoji-tab-content--emoji">
        <div class="emoji-search-container"></div>
        <div class="emoji-picker-grid"></div>
      </div>

      <div class="emoji-tab-content emoji-tab-content--stickers hidden">
        <div class="sticker-packs"></div>
        <div class="sticker-grid"></div>
      </div>

    </div>
  </div>
</div>