<div class="input-image-wrapper">
    <div class="input-image__container">
        <svg class="border-svg" viewBox="0 0 562 551" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <rect x="0.5" y="0.5" width="561" height="550" rx="10" ry="10" fill="none" stroke="#99A2AD" stroke-dasharray="7 7" stroke-width="1"/>
        </svg>
        <input type="file" multiple id="file-input" class="input-image__input">
        <label for="file-input" class="input-image__custom input-image__original">
            <img src="/public/CreatePostIcons/BigAddIcon.svg" class="input-image__icon">
            <span class="input-image__text">Загрузите Фото</span>
        </label>

        <div class="input-image__preview">
            <div class="slider-track">
            </div>
        </div>
    </div>
    <div class="add-new-image__button">
        <img class="add-image-icon" src="/public/CreatePostIcons/AddPhoto.svg">
        Добавить Фото
    </div>
</div>