<div class="navbar-search-modal">
  <div class="navbar-search-modal__content">
    <div class="navbar-search-modal__section">
      <div class="navbar-search-modal__title">Люди</div>
      <div class="navbar-search-modal__list"></div>
      <button class="navbar-search-modal__more">
        Показать больше
      </button>
    </div>
  </div>
</div>
