<div class="navbar-search-modal">
  <div class="navbar-search-modal__content">

    <div class="navbar-search-modal__section" data-section="users">
      <div class="navbar-search-modal__title">Люди</div>
      <div class="navbar-search-modal__list navbar-search-modal__list--users"></div>
    </div>

    <div class="navbar-search-modal__section" data-section="communities">
      <div class="navbar-search-modal__title">Сообщества</div>
      <div class="navbar-search-modal__list navbar-search-modal__list--communities"></div>
    </div>

    <button
      type="button"
      class="navbar-search-modal__more"
    >
      Показать всех
    </button>

  </div>
</div>
