<div class="navbar-search-item">
  <div class="navbar-search-item__left">
    {{{svg avatarPath class="navbar-search-item__avatar"}}}
    <div class="navbar-search-item__name">
      {{fullName}}
    </div>
  </div>
</div>
