.gender-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-lable{
    font-size: 14px;
    color: var(--dark-gray);
}
.bth-container {
    display: flex;
    gap: 6px;
}

.bth-day {
    width: 56px;
}

.bth-month,
.bth-year {
    width: 86px;
}
