.new-post-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(23, 23, 23, 0.35);
    backdrop-filter: brightness(0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.new-post-modal.open {
    opacity: 1;
    pointer-events: auto;
}

.new-post-container{
    width: 550px;
    height: fit-content;
    background-color: var(--base-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    position: relative;

    transform: translateY(0);
    transition: transform 0.35s ease;
}

.input-image__block{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.new-post__header{
    color: var(--base-purple);
    font-family: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-post-input{
    width: 100%;
    height: 80px;
}


.divider{
    width: 100%;
    height: 1px;
    background-color: var(--light-border);
}

.post-text__input{
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    padding: 0;
}

.post-text__input::-webkit-scrollbar {
    display: none;
}

.new-post-actions__container{
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.post-text-block{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.file-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media (max-width: 768px) {
    .new-post-modal {
        align-items: flex-end;
        justify-content: center;
    }

    .new-post-container {
        width: 100%;
        border-radius: 16px 16px 0 0;
        transform: translateY(100%);
    }

    .new-post-modal.open .new-post-container {
        transform: translateY(0);
    }

    .input-image__container {
        height: 400px !important;
    }

    .remove-button {
        width: 34px !important;
    }

    .input-image__custom {
        height: 400px;
    }
}