<div class="new-post-modal">
    <div class="new-post-container">
        <div class="new-post__header">Создание поста</div>
        <div class="input-image__block"></div>
        <div class="post-text-block">
            <div class="divider"></div>
            <textarea 
            class="post-text__input" 
            placeholder="Напишите текст поста..."></textarea>
        </div>
        <div class="new-post-actions__container"></div>
    </div>
</div>