<div class="new-post-modal">
  <div class="new-post-container">
    <div class="new-post__header">Вложения</div>

    <div class="divider"></div>

    <div class="file-list"></div>

    <div class="divider"></div>

    <div class="new-post-actions__container">
      <button type="button" class="attach-cancel-btn">Отменить</button>
      <button type="button" class="attach-send-btn">Отправить</button>
    </div>
  </div>
</div>
