.friend-card {
    width: 100%; 
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px 12px 0;    
    border-radius: 8px;
    box-sizing: border-box;
}

.friend-card__main-content {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
}

.friend-card__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.friend-card__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.friend-card__name {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--text-black);
}

.friend-card__age {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--text-black);
}



.navbar-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.friend-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: var(--avatar-color);
}

.friend-card__img use {
    transform: scale(0.3);
}

.friend-actions-container {
    position: absolute;
    right: 0;
    width: 190px;
    top: 100%;
    z-index: 3000;
}

.friend-card__actions {
    position: relative;
}

.fiend-actions-button{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.friend-status-text {
    width: fit-content;
    height: fit-content;
    padding: 4px 8px;
    background: none;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    color: var(--base-purple);
    font-weight: 400;
}