<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./index.css">
</head>
    <body>
    </body>
</html>

<script defer src="handlebars/dist/handlebars.runtime.js"></script>
<script defer src="precompiled.js"></script>
<script defer type="module" src="index.js"></script>
