<div class="filter-block">
    <div class="filter-section">
        <h3 class="filter-title">Возраст</h3>
        <div class="age-inputs">
            <div class="input-group">
                <input type="number" class="age-input" placeholder="От" min="0" max="120">
            </div>
            <div class="input-group">
                <input type="number" class="age-input" placeholder="До" min="0" max="120">
            </div>
        </div>
    </div>
    
    <div class="filter-section">
        <h3 class="filter-title">Пол</h3>
        <div class="gender-options">
            <label class="radio-option">
                <input type="radio" name="gender" value="any" checked>
                <span class="radio-custom"></span>
                <span class="radio-label">Любой</span>
            </label>
            <label class="radio-option">
                <input type="radio" name="gender" value="male">
                <span class="radio-custom"></span>
                <span class="radio-label">Мужской</span>
            </label>
            <label class="radio-option">
                <input type="radio" name="gender" value="female">
                <span class="radio-custom"></span>
                <span class="radio-label">Женский</span>
            </label>
        </div>
    </div>
</div>