<div class="emoji-picker hidden">

  <div class="emoji-tabs">
    <button class="emoji-tab active" data-tab="emoji">Эмодзи</button>
    <button class="emoji-tab" data-tab="stickers">Стикеры</button>
  </div>

  <div class="emoji-tab-content emoji-tab-content--emoji">
    <div class="emoji-search-container"></div>
    <div class="emoji-picker-grid"></div>
  </div>

  <div class="emoji-tab-content emoji-tab-content--stickers hidden">
    <div class="sticker-packs"></div>
    <div class="sticker-grid"></div>
  </div>

</div>
