.select {
  position: relative;
  width: 100%;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.select-control {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    background: var(--light-gray);
    cursor: pointer;
    padding: 4px 7px;
    box-sizing: border-box;
    padding-right: 2px;
    justify-content: space-between;
}

.select-input {
  border: none;
  background: var(--light-gray);
  width: 100%;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

.select-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;

    background: var(--base-white);
    border: 1px solid var(--light-border);
    border-radius: 6px;

    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 120px;
    overflow-y: auto;

    display: none;
    flex-direction: column;

    z-index: 10;
}

.select-list::-webkit-scrollbar{
    width: 2.5px;
}

.select-list::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 4px;
}

.select-list::-webkit-scrollbar-track {
    background: none; 
}

.select-list.active {
  display: flex;
}

.select-option {
    padding: 6px 2px 6px 6px;
    cursor: pointer;
    border: 5px solid var(--base-white);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.select-option:hover {
  background: var(--base-gray);
}

.select-option.active{
    background-color: var(--light-gray);
}

.select-arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s 
    cubic-bezier(0.72, 0.34, 0.37, 0.93);
}

.select-arrow--open {
    transform: rotate(-180deg);
}

.active-icon{
    width: 16px;
    height: 16px;
}

.select-header{
    font-family: inherit;
    font-size: 16px;
    color: var(--dark-gray);
}

