.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 10px;
    overflow: hidden;
}

.custom-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fullscreen-icon {
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
}

.video-controls {
    position: absolute;
    bottom: 10px;
    left: 2%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 8px;
    width: 96%;
    gap: 4px;
}

.video-controls input[type="range"] {
    flex: 1;
    margin: 0 10px;
}

.progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #444;
    border-radius: 3px;
    outline: none;
}

.progress::-webkit-slider-runnable-track {
    height: 5px;
    background: linear-gradient(
        to right,
        var(--base-purple) var(--progress, 0%),
        var(--dark-gray) var(--progress, 0%)
    );
    border-radius: 3px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;
}


.video-controls .time {
    color: white;
    font-size: 12px;
    min-width: 60px;
    text-align: center;
}

.video-play-icon {
    width: 24px !important;
    height: 24px !important;
    cursor: pointer;
    transition: 0.5s;
}
