.user-photo-item {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    color: var(--base-background);
}

.user-photo use {
    width: 40px;
    height: 40px;
    transform: scale(0.3);
}



.online-flag {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
    background-color: var(--base-green);
    border: 2px solid var(--base-white);
    border-radius: 50%;
    display: none;
}

.user-photo-item.online .online-flag {
    display: block;
}
