.communities-list{
    display: flex;
    flex-direction: column;
    background-color: var(--base-white);
    border-radius: 14px;
    width: 258px;
    padding: 10px 12px;
    gap: 10px;
}


.communities-list-header{
    font-family: inherit;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.communities-list-count{
    font-family: inherit;
    font-size: 16px;
    color: var(--dark-gray);
}

.communities-list__items{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.communities-list__item{
    display: flex;
    gap: 8px;
    padding: 4px 0px;
    align-items: center;
}

.communities-list__avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.communities-list__name{
    font-family: inherit;
    font-size: 16px;
    color: var(--base-black);
}

@media (max-width: 738px) {
    .communities-list {
        display: none;
    }
}
