.navbar{
    width: 100%;
    height: 60px;
    background-color: var(--base-white);
    position: fixed;
    z-index: 1000;
    padding: 0 10%;
    display: flex;
    gap: 16px;
}

.navbar-logo{
    width: 128px;
    height: 34px;
    object-fit: contain;
}

.navbar-input{
    width: 602px;
    height: 34px;
    background: var(--light-border);
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.navbar-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-input {
    width: 100%;
    height: 34px;
    padding-left: 36px;
    background: var(--light-border);
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid transparent;
    transition: border 0.2s;
}

.navbar-input:focus{
    border: 1px solid var(--base-purple);
    outline: none;
}

.navbar-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.navbar-left{
    display: flex;
    align-items: center;
    height: 100%;
    width: 190px;
}

.navbar-center{
    display: flex;
    align-items: center;
    height: 100%;
    width: 602px;
}

.navbar-right{
    display: flex;
    align-items: center;
    height: 100%;
    width: 190px;
    justify-content: flex-end;
}


.navbar-profile-photo{
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 40px;
}

.dropdown-button{
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-button-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s 
    cubic-bezier(0.72, 0.34, 0.37, 0.93);
}

.dropdown-button-icon--open {
    transform: rotate(-180deg);
}

.navbar-dropdown {
    position: relative;
}

.navbar-profile-actions {
    position: absolute;
    top: 100%;
    z-index: 3000;
    right: 0;
}