<div class="navbar">
    <div class="navbar-left">
        <img class="navbar-logo" src = "{{logo}}">
    </div>
    <div class="navbar-center">
        <div class="navbar-input-container">
            <img class="navbar-input-icon" src="{{serachIcon}}" alt="icon">
            <input class="navbar-input" placeholder="Поиск...">
        </div>
    </div>
    <div class="navbar-right">
        {{{ svg profilePhoto class="navbar-profile-photo"}}}
        <div class="navbar-dropdown">
            <div class="dropdown-button">
                <img class="dropdown-button-icon" src="{{dropdownIcon}}" alt="Menu">
            </div>
            <div class="navbar-profile-actions"></div>
        </div>
    </div>
</div>