<div class="application-modal">
  <div class="application-container">

    <div class="application-header">
      <div class="application-title">Обращение пользователя</div>
      <div class="application-subtitle">Просмотр деталей и изменение статуса</div>
    </div>

    <div class="application-info-group">
      <div class="application-field">
        <div class="field-label">Имя и Фамилия</div>
        <div class="field-value user-first-name"></div>
      </div>

      <div class="application-field">
        <div class="field-label">Почта</div>
        <div class="field-value user-email"></div>
      </div>

      <div class="application-field">
        <div class="field-label">Тема обращения</div>
        <div class="field-value user-topic"></div>
      </div>

      <div class="application-field">
        <div class="field-label">Текст обращения</div>
        <div class="field-value user-description"></div>
      </div>

    <div class="application-field">
        <div class="application-status-select"></div>
      </div>
    </div>
    
      <div class="application-field">
        <div class="field-label">Прикреплённые фото</div>
        <div class="application-images"></div>
      </div>
    
    <div class="image-viewer hidden">
        <div class="image-viewer-backdrop"></div>
        <img class="image-viewer-img" src="">
    </div>

    <div class="application-actions"></div>

  </div>
</div>
