.search-page {
  position: fixed;
  top: 80px;
  bottom: 20px;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 16px;
}

.search-page__content {
  order: 2;
  flex: 1;
  background-color: var(--base-white);
  border-radius: 14px;
  border: none;
  padding: 16px 12px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.search-page__content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.search-page__sidebar {
  order: 3;
  width: 330px;
  height: 140px;
  background-color: var(--base-white);
  border-radius: 14px;
  border: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search-page__title {
  font-family: 'Nunito Sans';
  font-weight: 450;
  font-size: 20px;
  color: var(--text-black);
}

.search-page__list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

@media (max-width: 768px) {
  .search-page {
    top: 70px !important;
    bottom: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  .search-page__sidebar {
    order: 1;
    width: 100%;
    height: 140px;
    position: fixed;
  }

  .search-page__content {
    order: 2;
    width: 100%;
    padding: 14px 10px;
    background: var(--base-white);
    border-radius: 12px;
    height: calc(100vh - 290px) !important;
    position: fixed;
    margin-top: 150px;
  }
}
