<div class="friends-stats">
  <button class="friends-stats__item {{#if isAll}}friends-stats__item--active{{/if}}" data-type="all">
    <span class="friends-stats__label">Все</span>
  </button>

  <button class="friends-stats__item {{#if isUsers}}friends-stats__item--active{{/if}}" data-type="users">
    <span class="friends-stats__label">Пользователи</span>
  </button>

  <button class="friends-stats__item {{#if isCommunities}}friends-stats__item--active{{/if}}" data-type="communities">
    <span class="friends-stats__label">Сообщества</span>
  </button>
</div>
