<div class="search-page">
  <div class="search-page__content">
    <div class="search-page__title">Поиск</div>

    <div class="search-input-container">
      <img class="navbar-input-icon" src="/public/globalImages/SearchIcon.svg" alt="icon">
      <input class="search-input search-page__input" placeholder="Поиск...">
    </div>

    <div class="search-page__list search-page__list--users"></div>
    <div class="search-page__list search-page__list--communities"></div>
  </div>

  <div class="search-page__sidebar">
    <div class="search-stats"></div>
  </div>
</div>
