<div class="search-page">
  <div class="search-page__sidebar">
    <div class="search-page__sidebar-title">Поиск</div>

    <button type="button" class="search-page__tab search-page__tab--users search-page__tab--active">
      Все пользователи
    </button>

    <button type="button" class="search-page__tab search-page__tab--communities">
      Все сообщества
    </button>
  </div>

  <div class="search-page__content">
    <div class="search-page__title">Результаты</div>

    <div class="search-page__input">
      <img class="search-page__input-icon" src="/public/globalImages/SearchIcon.svg" alt="icon">
      <input class="search-page__input-field" placeholder="Поиск...">
    </div>

    <div class="search-page__sections">
      <section class="search-page__section search-page__section--users">
        <div class="search-page__section-title">Люди</div>
        <div class="search-page__list search-page__list--users"></div>
      </section>

      <section class="search-page__section search-page__section--communities">
        <div class="search-page__section-title">Сообщества</div>
        <div class="search-page__list search-page__list--communities"></div>
      </section>
    </div>
  </div>
</div>
