<div class="friends-stats">
  <button class="friends-stats__item friends-stats__item--active" data-type="users">
    <span class="friends-stats__label">Пользователи</span>
    <span class="friends-stats__count">{{usersCount}}</span>
  </button>

  <button class="friends-stats__item" data-type="communities">
    <span class="friends-stats__label">Сообщества</span>
    <span class="friends-stats__count">{{communitiesCount}}</span>
  </button>
</div>
