<div class="create-community-modal">
  <div class="create-community-modal__overlay"></div>
  <div class="create-modal-container">
    <div class="create-community-modal__window">
    <div class="create-community-modal__header">
      <div class="create-community-modal__title">Создать сообщество</div>
    </div>
    <div class="create-community-modal__devider"></div>
    <form class="create-community-modal__form">
      <div class="create-community-modal__field">
        <div class="create-community-modal__label-row">
          <label
            class="create-community-modal__label"
            for="community-name-input"
          >
            Название
          </label>
          <span
            class="create-community-modal__counter"
            data-role="name-counter"
          >
            0/48
          </span>
        </div>

        <input
          id="community-name-input"
          class="create-community-modal__input"
          type="text"
          name="name"
          maxlength="48"
          placeholder="Введите название"
        />
      </div>

      <div class="create-community-modal__about-field"></div>

      <div class="create-community-modal__footer"></div>
    </form>
  </div>
  <img
    src="/public/globalImages/CancelIcon.svg"
    class="create-community-modal__close"
    data-role="close">
</div>
</div>
