.feed-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feed-post-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 55px;
    background-color: var(--base-white);
    border: none;
    border-radius: 14px;
}

.button-content{
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 600;
    color: var(--base-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button-content img{
    width: 24px;
    height: 24px;
}