<div class="post-photo">
    <div class="photo-slider">
        {{#each photos}}
        <img src="{{this}}" alt="Фото поста">
        {{/each}}
    </div>
    <div class="photo-buttons"></div>
</div>