.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--avatar-color);
}

.comment-avatar use {
    width: 45px;
    height: 45px;
    transform: scale(0.28);
}

.comment-item {
    display: flex;
    gap: 8px;
}

.comment-content {
    font-size: 16px;
    color: var(--text-black);
    width: 100%;
}

.comment-data {
    font-size: 14px;
    color: var(--dark-gray);
}

.comment-devider {
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: var(--light-border);
    margin-top: 4px;
}

.comment-text {
    font-weight: 350;
}