<div class="comment-item">
    {{{svg avatar class="comment-avatar"}}}
  <div class="comment-content">
    <div class="comment-author">{{author}}</div>
    <div class="comment-text">{{text}}</div>
    <div class="comment-data">{{time}}</div>
    <div class="comment-devider"></div>
  </div>
</div>
