.base-button{
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
    padding: 4px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.base-button.primary{
    border: none;
    background: var(--base-purple);
    color: var(--base-white);
}

.base-button.default{
    border: 1px solid var(--base-purple);
    background: var(--base-white);
    color: var(--base-purple);
    font-weight: 400;
}