@font-face {
  font-family: 'Nunito Sans';
  src: url('/public/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.woff2');
  font-weight: 100 900;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Nunito Sans";
    background-color: var(--base-background);
    overflow-x: hidden;
    display: flex;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.main-container {
  display: flex;
  gap: 16px;
  padding: 0 5%;
  box-sizing: border-box;
  align-items: flex-start;
  margin: 0px calc(5%);
}

.feed-page{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 16px;
    box-sizing: border-box;
    align-items: flex-start;
}

.header{
  height: 60px;
  width: 100%;
  color: var(--base-white);
}

.layout-wrapper {
  margin: 70px calc(10%);
  display: flex;
  gap: 16px;
}
