:root {
    --base-background: #EDEEF0;
    --base-white: #FFFFFF;
    --light-border: #E4E5E9;
    --text-black: #171717;
    --dark-gray: #99A2AD;
    --accent-purple: #FBF8FF;
    --base-purple: #6A42AB;
    --base-red: #FF0909;
    --base-gray: #EDEEF0;
    --light-gray: #F5F6F7;
    --base-green: #09C26F;
    --light-purple: #F6F0FF;
    --toogle-color: #714bb9;

    --background-image: url('/public/globalImages/backgroud.png');
}

:root[data-theme="dark"] {
    --base-background: #151618;
    --base-white: #252628;
    --text-black: #F5F6F8;
    --light-gray: #2e2e2e;
    --toogle-color: #714bb9;
    --light-border: #333333;
    --dark-gray: #8B8B8B;
    --accent-purple: #2B2438;
    --base-purple: #a98cfe;
    --base-red: #FF5A5A;
    --base-gray: #1E1E1E;
    --base-green: #3DDC97;
    --light-purple: #2B2438;

    --background-image: url('/public/globalImages/DarkBackground.png');
}
