:root {
    --base-background: #EDEEF0;
    --base-white: #FFFFFF;
    --light-border: #E4E5E9;
    --text-black: #171717;
    --dark-gray: #99A2AD;
    --accent-purple: #FBF8FF;
    --base-purple: #6A42AB;
    --base-red: #FF0909;
    --base-gray: #EDEEF0;
    --light-gray: #F5F6F7;
    --base-green: #09C26F;
    --light-purple: #F6F0FF;
}