
<div class="feed-container">
  <div class="feed-header">
    <button class="feed-post-button">
      <img src="{{icon}}" alt="Создать пост" class="feed-post-button__icon" />
      <span class="button-content">Создать пост</span>
    </button>
  </div>

  <div class="feed-posts-container">
  </div>
  <div class="end-feed-header">Вы посмотрели все посты</div>
</div>
