<button type="button" class="community-created">
  <div class="community-created__avatar">
    <img
      class="community-created__img"
      src="{{avatar}}"
      alt="{{name}}"
    />
  </div>
  <div class="community-created__name">
    {{name}}
  </div>
</button>
