<div class="menu-item {{#if isActive}}active{{/if}}" data-view="{{view}}">
    {{#if icon }}
        <img src="{{icon}}" alt="{{label}}" class="menu-item-icon">
    {{/if}}
    <div class="menu-item-label">{{label}}</div>
</div>