.search-input-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 100%;
    height: 34px;
    padding-left: 36px;
    background: var(--base-gray);
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid transparent;
    transition: border 0.2s;
    color: var(--text-black);
}

.search-input:focus{
    border: 1px solid var(--base-purple);
    outline: none;
}