<div class="chat-container">
    <div class="chat-header-container"></div>
    <div class="chat-messeges">
        <button class="scroll-to-bottom-btn">
            <img class="scroll-bottom-icon" src="public/ChatIcons/ScrollDown.svg">
        </button>
    </div>
    <div class="messege-input"></div>
</div>