<div class="support-modal">
  <div class="support-container">
    <div class="support-header">
      <div class="support-title">Расскажите о проблеме</div>
      <div class="support-subtitle">
        Все поля обязательные, пожалуйста заполните их внимательно,
        это поможет быстрее найти решение
      </div>
    </div>
    <div class="about-problem-container">
      <div class="reg-email-input"></div>

    <div class="support-group">
      <div class="support-select-wrapper"></div>
    </div>

    <div class="support-group">
      <div class="about-problem-input"></div>
    </div>

    <div class="support-group">
      <span class="support-label">
        Приложите скриншот с вашей проблемой, это поможет оператору разобраться быстрее
      </span>
      <div class="support-screenshot-block"></div>
    </div>
    </div>

    <div class="divider-create-report"></div>

    <div class="support-header">
      <div class="support-title">Оставьте свои контакты</div>
      <div class="support-subtitle">
        Мы ответим вам в ближайшее время
      </div>
    </div>

    <div class="support-contacts-container">
      <div class="support-contacts-name"></div>
      <div class="support-contacts-email"></div>
    </div>


    <div class="support-actions__container"></div>
  </div>
</div>
