.sidebar-container{
    width: 190px;
}

.sidebar-menu {
    width: 190px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.menu-items-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 190px;
    position: fixed;
}