<div class="friends-stats">
    <button class="friends-stats__item" data-type="friends">
        <span class="friends-stats__label">Друзья</span>
        <span class="friends-stats__count">{{friendsCount}}</span>
    </button>
    <button class="friends-stats__item" data-type="subscribers">
        <span class="friends-stats__label">Подписчики</span>
        <span class="friends-stats__count">{{subscribersCount}}</span>
    </button>
    <button class="friends-stats__item" data-type="blocked">
        <span class="friends-stats__label">Заблокированные</span>
        <span class="friends-stats__count">{{blockedCount}}</span>
    </button>
</div>