.chat-item{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    gap: 8px;
    cursor: pointer;
}

.chat-item:hover{
    background-color: var(--light-gray);
}

.chat-item.active{
    background-color: var(--light-purple);
}


.last-messege {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: var(--dark-gray);
}

.user-name{
    font-family: 'Nunito Sans';
    font-size: 16px;
    color: var(--text-black);
    font-weight: 400;
}

.new-mess-counter{
    width: 14px;
    height: 14px;
    color: var(--base-white);
    border-radius: 50%;
    background-color: var(--base-purple);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    justify-self: flex-end;
    align-self: center;
    margin-left: auto;
    
}

.new-mess-counter.hide{
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}

.chats-info-block{
    display: flex;
    gap: 10px;
}

.chat-item {
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.chat-item-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}