<div class="chat-item">
    <div class="user-avatar-container">
    </div>
    <div class="chat-item-info">
        <div class="user-name">{{name}}</div>
        <div class="chats-info-block">
            <div class="last-messege">{{lastMessageAuthor.fullName}}: {{lastMessage.text}}</div>
            <div class="new-mess-counter hide"></div>
        </div>
    </div>
</div>