<div class="help-page">
  <div class="help-page__content">
    <div class="help-page__header">
      <div class="help-page__title">Обращения в поддержку</div>
    </div>

    <div class="help-page__table-wrapper">
      <table class="help-table">
        <thead>
          <tr>
            <th class="help-table__th help-table__th--id">
              № Обращения
              <span class="help-table__sort-indicator">↓</span>
            </th>
            <th class="help-table__th help-table__th--topic">
              Тема
            </th>
            <th class="help-table__th help-table__th--date">
              Дата
              <span class="help-table__sort-indicator">↓</span>
            </th>
            <th class="help-table__th help-table__th--status">
              Статус
            </th>
            <th class="help-table__th help-table__th--actions"></th>
          </tr>
        </thead>
        <tbody class="help-table__body">
        </tbody>
      </table>
    </div>

    <div class="help-page__pagination"></div>
  </div>
</div>
