.reg-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('/public/globalImages/backgroud.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#reg-form-container {
    max-width: 750px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--base-white);
    border-radius: 18px;
}

.reg-form-info{
    width: 322px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 738px) {
    .reg-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        min-height: 100vh;
        background: white;
        overflow-x: hidden;
        justify-content: flex-start;
    }

    #reg-form-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px;
        border-radius: 0;
        height: auto;
    }

    .reg-form-info {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }

}