<div class="reg-page">
    <main id="reg-form-container">
        <div class="reg-form-info">
            <img class="form-logo" src = "{{logo}}">
            <div class="form-text">
                <div class="info-text-big">Создать аккаунт</div>
                <div class="info-text-small">Ведите email и пароль</div>
            </div>
        </div>
        {{{content}}}
    </main>
</div>