<button
  type="button"
  class="community-subscriber-row"
>
  <div class="community-subscriber-row__avatar">
    <img src="{{avatarPath}}" alt="{{fullName}}">
  </div>
  <div class="community-subscriber-row__name">
    {{fullName}}
  </div>
</button>
