<button
  type="button"
  class="community-subscriber-row"
>
  {{{svg avatarPath class="community-subscriber-row__avatar"}}}
  <div class="community-subscriber-row__name">
    {{fullName}}
  </div>
</button>
