<div class="chat-header">
    <div class="profile-avatar-container"></div>
    <div class="chat-info-container">
        <div class="chat-name">{{name}}</div>
        <div class="user-status">был недавно</div>
    </div>
</div>