.login-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


#login-form-container {
    background-color: var(--base-white);
    padding: 40px;
    border-radius: 18px;
    display: flex;
}

.login-form-info{
    width: 322px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-logo{
    width: fit-content;
    height: 34px;
    display: flex;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.info-text-big{
    font-family: "Nunito Sans";
    font-size: 28px;
    color: var(--text-black);
}

.info-text-small{
    font-family: "Nunito Sans";
    font-size: 19px;
    color: var(--dark-gray);
}


@media (max-width: 738px) {
    .form-logo {
        display: none;
    }

    .login-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        min-height: 100vh;
        background: white;
        overflow-x: hidden;
        justify-content: flex-start;
    }

    :root[data-theme="dark"] .login-page {
        background: var(--base-white) !important;
    }

    #login-form-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px;
        border-radius: 0;
        height: auto;
    }

    .login-form-info {
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
    }
}
