<div class="login-page">
    <main id="login-form-container">
        <div class="login-form-info">
            <img class="form-logo" src = "{{logo}}">
            <div class="form-text">
                <div class="info-text-big">Войти в аккаунт</div>
                <div class="info-text-small">Ведите email и пароль</div>
            </div>
        </div>
        {{{content}}}
    </main>
</div>