<div class="notification">
    <div class="notification-main-content">
        <div class="notification-info">
            <img class="notification-icon" src="{{iconPath}}">
            <div class="notification-header">{{text}}</div>
        </div>
        <img class="notification-close-icon" src="/public/NotificationIcons/NotificationClose.svg">
    </div>
    <div class="notification-details">
        {{detailsText}}
    </div>
</div>