.notification-container {
    position: fixed;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    padding: 0;
    background-color: var(--base-white);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 8px 8px 0px 8px;
    box-sizing: border-box;

    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    

    transition:
        opacity 0.6s ease,
        max-height 0.6s ease,
        margin-bottom 0.6s ease,
        padding 0.6s ease;
}

.notification.show {
    opacity: 1;
    margin-bottom: 8px;
    max-height: 36px;
}

.notification.expanded {
    max-height: 80px;
}

.notification.expanded .notification-details {
    max-height: 80px;
}

.notification.hide {
    opacity: 0;
    margin-bottom: 0;
    padding: 0;
    max-height: 0;
}


.notification-main-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.notification-details {
    font-family: inherit;
    font-size: 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--dark-gray);
    align-self: flex-start;
}

.notification-info {
    display: flex;
    gap: 4px;
}

.notification-header {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-black);
    align-self: center;
}

.notification-close-icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
    align-self: center;
}

.notification-icon{
    width: 20px;
    height: 20px;
    align-self: center;
}