.community-card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 12px 10px 12px;
  background: var(--base-white);
  box-sizing: border-box;
}

.community-card__main-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  cursor: pointer;
}

.community-card__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  color: var(--avatar-color);
}

.community-card__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  color: var(--avatar-color);
  border-radius: 50%;
}

.community-card__info {
  display: flex;
  flex-direction: column;
}

.community-card__name {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black);
}

.community-card__desc, .community-card__subscribers {
  font-family: 'Nunito Sans';
  font-size: 13px;
  color: var(--dark-gray);
}

.community-card__actions {
  display: flex;
  align-items: center;
}

.community-card__btn {
  padding: 4px 8px;
  border-radius: 8px;
  border: 0px;
  color: var(--base-purple);
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}


.community-card__btn--active {
  background: var(--base-purple);
  color: #ffffff;
}
