<div class="friends-page">
    <div class="friends-page__content">
        <div class="friends-page__title">{{title}}</div>
        <div class="search-input-container">
            <img class="navbar-input-icon" src="/public/globalImages/SearchIcon.svg" alt="icon">
            <input class="search-input" placeholder="Поиск...">
        </div>
        <button class="friends-support-button">
            <img src="/public/globalImages/HelpIcon.svg" alt="icon" class="support-icon">
            Поддержка
        </button>
    </div>
    <div class="friends-page__sidebar">
    </div>
</div>