<div class="friends-page">
    <div class="friends-page__content">
        <div class="friends-page__title">Ваши друзья</div>
        <div class="search-input-container">
            <img class="navbar-input-icon" src="/public/globalImages/SearchIcon.svg" alt="icon">
            <input class="search-input" placeholder="Поиск...">
            <div class="search-settings">
                <div class="dropdownf-button">
                    <img class="" src="/public/globalImages/SettingFriend.svg" alt="Menu">
                </div>
                <div class="search-dropdown-menu">
                </div>
            </div>
        </div>
    </div>
    <div class="friends-page__sidebar">
    </div>
</div>