<div class="dropdown-menu">
    {{#each values}}
        <div class="dropdown-item">
            <img class="dropdown__icon" src="{{this.icon}}" alt="{{this.label}}">
            {{this.label}}
        </div>
    {{/each}}
</div>