<div class="post-photo">
    <div class="photo-slider">
        {{#each photos}}
        <img src="http://localhost:8080/uploads/{{this}}" alt="Фото поста">
        {{/each}}
    </div>
    <div class="photo-buttons"></div>
</div>
