<div class="post-photo">
    <div class="photo-slider">
        {{#each photos}}
            <div class="slide">
                {{#if isVideo}}
                    <div class="video-container" data-url="{{url}}"></div>
                {{else}}
                    <img class="slide-bg" src="{{url}}">
                    <img class="slide-fg" src="{{url}}">
                {{/if}}
            </div>
        {{/each}}
    </div>

    <div class="photo-buttons"></div>
</div>
