<form class="login-form">
    <div class="input-container"></div>
    <div class="profile-actions">
            <label class="remember-me">
                <input type="checkbox" name="rememberMe">
                <span class="custom-checkbox"></span>
                <div>Запомнить меня</div>
            </label>
            <a href="/forgot-password" class="foget-password">Забыли пароль?</a>
    </div>
    <div class="button-container"></div>
</form>