:root {
    --base-background: #EDEEF0;
    --base-white: #FFFFFF;
    --light-border: #E4E5E9;
    --text-black: #171717;
    --dark-gray: #99A2AD;
    --accent-purple: #FBF8FF;
    --base-purple: #6A42AB;
}