.image-preview-list {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.preview-thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.image-add-btn {
    display: flex;
    background-color: var(--light-gray);
    border: none;
    font-size: 16px;
    font-family: inherit;
    padding: 2px 6px;
    color: var(--base-purple);
    width: fit-content;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.image-add-btn:hover {
    background-color: var(--base-gray);
}

.preview-item {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.preview-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.preview-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.25s ease;
    border-radius: 10px;
}

/* Появление при наведении */
.preview-item:hover .preview-overlay {
    opacity: 1;
}

/* Иконка удаления */
.delete-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.25s ease;
    pointer-events: none;
}

.preview-item:hover .delete-icon {
    opacity: 1;
    pointer-events: auto;
}
