.single-image-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
}

.single-image-box {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
}

.single-image-box:hover {
    background-color: var(--light-gray);
}

.single-border-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.placeholder-icon {
    width: 32px;
    height: 32px;
}

.single-image-preview {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
}

.single-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.25s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    pointer-events: none;
    width: 90px;
    height: 90px;
    margin: 5px;
}

.single-image-box.has-image:hover .single-overlay {
    opacity: 1;
    pointer-events: auto;
}

.delete-icon {
    width: 28px;
    height: 28px;
    opacity: 0;
    transition: opacity 0.25s ease;
}

.single-image-box.has-image:hover .delete-icon {
    opacity: 1;
}

.small-image-input__header{
    font-size: 14px;
    color: var(--text-black);
    font-weight: 400;
    margin-left: 6px;
}
