<div class="input-small-image-wrapper">
    <div class="image-preview-list"></div>

    <div class="image-add-btn">
        <img class="add-image-icon" src="/public/CreatePostIcons/AddPhoto.svg">
        Добавить Фото
        <input type="file" accept="image/*" class="image-input" hidden>
    </div>
</div>
